/* import fonts from fonts.css file */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

* {
  background-color: #161515;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #a1e5d5 !important;
}

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 15rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--montserrat);
  color: var(--text-color);
  text-transform: capitalize;

  padding: 1.7rem;
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */

/* Banner Area */

.site-main {
  /* padding: 0 2rem 0 5rem; */
  padding: unset;
}

.site-main .site-banner .site-title h3 {
  padding-top: 5%;
  font-weight: 500;
}

.site-main .site-banner .social a > i {
  font-size: 22px;
  padding: 1rem;

  /*  color: var(--border-color); */
}

.site-main .site-banner .social a:hover > i {
  color: var(--primary-color);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 0 0;
  width: 90rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/ 60px var(--montserrat);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

/* End About Area */

/* Services Area */

.site-main .services-area {
  padding: 0 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}
.site-main .services-area .progress {
  margin: 0 2rem 2rem 0;
}

.site-main .services-area .services-para {
  text-align: start;
}

.site-main .services-area .services-title h1 {
  font-size: 85px;
  text-align: start;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 5px white;
}
.site-main .ftco-section .contact-title h1 {
  font-size: 85px;
  text-align: start;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 5px white;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/* End Services Area */

/* Project Area */

.site-main .project-area {
  padding: 0.5rem 0;
}

.site-main .project-area .project-title h1 {
  font-size: 77px;
  text-align: start;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 5px white;
}
.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--montserrat);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--montserrat);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */

/* About Me */

.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}

.site-main .about-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
  font: normal 500 21px/ 20px var(--montserrat);
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* End About Me */

/* Subscribe me */

.site-main .subscribe-us-area .subscribe {
  background: url(../img/subscribe-bg.png) no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
  font: normal 700 30px/ 30px var(--montserrat);
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font: normal 500 17px/20px var(--montserrat);
}

.site-main
  .subscribe-us-area
  .subscribe
  form
  .input-textbox
  input::placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
  background: whitesmoke;
  color: #000;
  padding: 0.7rem 2rem;
}

/* End subscribe me */

/* Footer */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  padding: 20px 0;
}

section .section-title {
  text-align: center;
  color: #17a2b8;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* #footer {
  background: #007b5e !important;
} */
#footer h5 {
  padding-left: 10px;
  /* border-left: 3px solid #eeeeee; */
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

/* End Footer */

.progress-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 10px;
}
.progress-outer {
  background: #fff;
  padding: 5px 60px 5px 5px;
  border: 5px solid #bebfbf;
  border-radius: 45px;
  margin-bottom: 20px;
  position: relative;
}
.progress {
  background: #bebfbf;
  border-radius: 20px;
  margin: 0;
}
.progress .progress-bar {
  border-radius: 20px;
  box-shadow: none;
  animation: animate-positive 2s;
}
.progress .progress-value {
  font-size: 20px;
  font-weight: 700;
  color: #6b7880;
  position: absolute;
  top: 3px;
  right: 10px;
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}

/* stepper */

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles start here */
.stepper-li {
  list-style: circle;
}
.steps {
  margin: 0 auto;
  padding: 1rem 0;
}

.step {
  display: flex;
  justify-content: center;
}

.dates {
  display: flex;
  flex-direction: column;
  width: 13%;
}

.time {
  position: relative;
  padding: 0 1rem;
  word-break: break-all;
}

.time::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #a1e5d5;
  border-radius: 50%;
  z-index: 2;
  transform: translateX(50%);
  border-style: outset;
}

.step-items-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step-context {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  width: 25%;
}

.step-heading,
.time {
  line-height: 1.5rem;
}

.step-context::before {
  content: " ";
  border-left: 1px solid #4e5352;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.step:last-child .step-context::before {
  height: 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.25rem;
}

.step-items-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-items-text,
.step-items-dates {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.step-items-text li {
  padding: 0.5rem 0;
}

.step-items-dates li {
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .item-text-description {
    display: none;
  }

  .step-items-dates li {
    padding: 0.5rem 0;
  }
}

/* ----------- home css ---------- */

.header-hero {
  position: relative;
  top: 0;
  height: 800px;
  background-position: bottom center;
}

.header-hero .shape {
  position: absolute;
}

.header-hero .shape.shape-1 {
  position: relative;
  width: 75px;
  height: 75px;
  left: 130px;
  top: 20%;
  border-radius: 50%;
  background: #637ae4;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-2 {
  width: 39px;
  height: 39px;
  left: 150px;
  bottom: 40px;
  border-radius: 50%;
  background: #0898e7;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-3 {
  width: 19px;
  height: 19px;
  left: 26px;
  bottom: 25%;
  border-radius: 50%;
  background: #ff846f;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-4 {
  width: 39px;
  height: 39px;
  left: 40%;
  top: 175px;
  border-radius: 50%;
  background: #4ebaf5;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-5 {
  width: 19px;
  height: 19px;
  left: 50%;
  bottom: 20%;
  border-radius: 50%;
  background: #ff5b56;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-6 {
  width: 14px;
  height: 14px;
  left: 45%;
  bottom: 70%;
  border-radius: 50%;
  background: #4ebaf5;
  animation: animation-1 2s linear infinite;
}

.header-hero-content {
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .header-hero-content {
    margin-top: 30%;
  }
}

.header-hero-content .header-title {
  font-size: 42px;
  color: #38424d;
}

.header-hero-content .text {
  margin-top: 30px;
}

.header-hero-content ul {
  margin-top: 30px;
}

.header-hero-content ul li .header-video {
  margin-left: 50px;
}

.header-hero-content .header-video {
  position: relative;
  margin-top: 6px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  background-color: #0898ef;
  color: #fff;
}

.header-hero-content .header-video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(8, 152, 231, 0.8);
  z-index: -9;
  animation: video 2s linear infinite;
}

.header-image {
  position: relative;
  padding-top: 80px;
  animation: bounceTop-1 3s ease infinite;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .header-image img {
    height: 0;
  }
}

.header-shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(../img/header/header-shape-1.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header-shape-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.vbox-close {
  color: #fff;
  background: transparent;
  font-size: 40px;
  right: 12%;
}

/* ------- about css -------- */

.about-area {
  overflow: hidden;
}

.about-image {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-image .about-shape {
  position: relative;
  width: 394px;
  height: 394px;
  background-color: #bdbdbd;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .about-image .about-shape {
    width: 380px;
    height: 380px;
  }
}

.about-image .about-shape::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #bdbdbd;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: scale(1.1) rotate(25deg);
}

.about-image .app {
  max-width: 280px;
  position: absolute;
  top: 100px;
  left: 95px;
  transform: rotate(-25deg) translateY(-15%);
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .about-image .app {
    max-width: 250px;
  }
}

.title {
  font-size: 35px;
  font-weight: 600;
}

.text {
  margin-top: 20px;
}

.about-content .main-btn {
  margin-top: 40px;
}

/* --------- download css ---------- */

.download-area {
  overflow: hidden;
}

.download-area .download-image .download-shape-1 {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #b3d7ff;
  border-radius: 50%;
  z-index: -1;
}

.download-area .download-image .image-3 {
  position: relative;
  max-width: 350px;
  padding-top: 65px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.download-content ul {
  margin-top: 35px;
}

.download-content ul li {
  display: inline-block;
  margin-top: 15px;
}

.download-content ul li a {
  width: 210px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: -15px 10px 30px 0 rgb(0 0 0 / 30%);
}

.download-content ul li a.app-store {
  margin-right: 28px;
  background-color: #0898e7;
}

.download-content ul li a.play-store {
  background-color: #525a63;
}

.space-style {
  padding-bottom: 15%;
}
.posi-style {
  display: flex;
  justify-content: end;
}
.res-img {
}
.res-dir {
}
@media screen and (max-width: 990px) {
  .res-img {
    display: flex;
    justify-content: center;
  }
  .res-dir {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* poker */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: image();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
